@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neon-dark text-gray-200 overflow-hidden;
  }
}

.custom-scrollbar::-webkit-scrollbar { width: 4px; height: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #27272a; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #3f3f46; }

input[type='range'] { -webkit-appearance: none; background: transparent; }
input[type='range']::-webkit-slider-thumb { -webkit-appearance: none; }
input[type='range']:focus { outline: none; }
